<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
      
    <small>
      {{site.description}} Contact me on my <a href="https://br.linkedin.com/in/aureliojota" title="LinkedIn profile">LinkedIn</a> profile or send me an <a href="mailto:contato@aureliojota.com" title="Email me">email</a>.
      <br>
      <br>
      <a href="{{site.baseurl}}/about/" title="more about me">more about me</a>
    </small>
  </div>
</header>
